<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=h CGI_TITLE%></title>

    <link rel='stylesheet' type='text/css' href='css/style.css'>
  </head>
  <body>

    <div class='header'>
      <% FOLDERS.each do |f| %>
        <% if f == folder %>
          <span class='folder_sel'><a href='<%=h CGI_NAME%>?f=<%=u f%>'>[<%=h f%>]</a></span>
        <% else %>
          <span class='folder'><a href='<%=h CGI_NAME%>?f=<%=u f%>'><%=h f%></a></span>
        <% end %>
      <% end %>
    </div>

    <hr>

    <div class='main'>

      <table id="mail_list">
        <tr><td colspan="4" class="pages">
            page
            <% (1..pages).each do |i| %>
              <% if i == page+1 %>
                <span class="page_sel"><%= cgi_link("[#{i}]", {'f'=>folder, 'p'=>i}) %></span>
              <% else %>
                <span class="page"><%=     cgi_link( i.to_s,  {'f'=>folder, 'p'=>i}) %></span>
              <% end %>
            <% end %>
        </td></tr>
        <tr><th>time</th><th>no</th><th>from</th><th>subject</th></tr>
        <% mails.reverse.each do |num, from, time, subject| %>
          <tr>
            <td class="time"><%=h time%></td>
            <td class="num" ><a href='<%=h CGI_NAME%>?f=<%=u folder%>&m=<%=u num%>'><%=h num%></a></td>
            <td class="from"><%=h from%></td>
            <td class="subj"><a href='<%=h CGI_NAME%>?f=<%=u folder%>&m=<%=u num%>'><%=h subject%></a></td>
          </tr>
        <% end %>
      </table>
    </div>

    <hr>

    <div class='footer'>
      Generated by mail2www<br>
      Powered by <a href='http://www.ruby-lang.org/'>Ruby</a> version <%=h RUBY_VERSION%>
    </div>
  </body>
</html>
