body{
}
hr{
	border:1px dashed black;
}

div.folders {
	padding:3pt;
}
div.folders .folder a{
	color:black;
	text-decoration:underline;
}
div.folders .folder_sel a{
	color:orange;
	font-weight:bold;
}

div.search {
	padding:3pt;
}

div.main { width:80%; margin:auto; }
div.main a:link    { color:green; }
div.main a:active  { color:green; }
div.main a:hover   { color:green; }
div.main a:visited { color:gray; }

/* page list */
div.pages { font-size:small; }

div.pages span.page_sel a{
	color:orange;
	font-weight:bold;
}

div.per-page {
    font-size:small;
    text-align:right;
}

table#mail_list { min-width:100%; }
table#mail_list th{ background:#ddd; }
table#mail_list .num { font-weight:bold; }
table#mail_list .time{ font-size:small; }
table#mail_list .from{ font-size:small; }

div.footer{
	text-align:right;
	font-size:small;
	margin:2pt;
	padding:2pt;
}

.mail-virus {
  background-color: #dc3545;
  color: #ffffff;
}

.mail-actions form {
  display: inline;
}

.mail pre {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
